*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidenav {
    height: 100%; 
    width: 20px; 
    margin-top:20px;
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #add8e6; 
    overflow-x: hidden; 
    padding-top: 15px;
    display: flex;
    align-items: center; 
  }

  .container {
    margin-top: 6px;
    margin-left: 23px; 
    padding: 0px 10px;
  }

.logoBox {
    height:auto;
    width: 20px;
}
.sideLogo {
    width:20px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.vertsplit {
    display: flex;
    gap: 10px;
}

.aboutStory {
    width: 60%;
}

nav {
    background-color: #add8e6;
    padding: 0px;
    z-index: 1; 
    top: 0; 
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:20px;
  }
  
  nav ul {
    list-style-type: none;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }

  .bgImg {
    background-size: cover;
  }

  #dropdown{
    background-color: #55555595;
    position: absolute;
    width: 30rem;
    height: auto;
    padding: 1rem 1rem;
    top: 70px; 
    right: 20px;
    margin-top: .5rem;
    border-radius: 10px;
    border: 1px solid white;
    display: none;
    z-index: 1000; 
}

.dropdown-header{
    padding: .5rem 1rem;
    display: flex;
    justify-content: flex-end;
}

.search-img{
    width: 100%;
}
